body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 75rem;  /* 1200px -> 75rem */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;  /* 10px -> 0.625rem */
  padding-right: 0.625rem;  /* 10px -> 0.625rem */
}

.background-icon,
.background-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.home-page-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  top: 0;
  left: 0;
  background: linear-gradient(107.86deg, #1c1c1c, #171717);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: none;
  background-size: cover;
}

.frame-child {
  position: relative;
  border-radius: 50%;
  width: 3.9375rem;  /* 63px -> 3.9375rem */
  height: 3.5625rem;  /* 57px -> 3.5625rem */
  object-fit: cover;
}

.bison-labs {
  position: absolute;
  top: 4.41%;
  left: 0.71%;
}

.logo {
  position: relative;
  width: 9.8%;
  height: 3.7%;
  overflow: hidden;
  flex-shrink: 0;
}

.ellipse-parent,
.frame-container {
  display: flex;
  justify-content: flex-start;
}

.ellipse-parent {
  flex-direction: row;
  align-items: center;
  gap: 0.6875rem;  /* 11px -> 0.6875rem */
}

.frame-container {
  border-radius: var(--br-xs);
  flex-direction: row;
  padding: 1.1% 1%;
  align-items: flex-start;
}

.frame-wrapper,
.home-page-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.home-page-inner {
  position: absolute;
  top: 4.1%;
  left: 2.8%;
  font-size: 1.8%;
}

.action-menu,
.active-menu {
  position: absolute;
  top: 13.5%;
  left: 2.8%;
}

.action-menu {
  top: 82.1%;
  left: 22.6%;
  width: 3.9%;
  height: 6.1%;
}

.frame,
.group-child {
  position: absolute;
  top: 63.1%;
  left: 0;
  width: 15.5%;
}

.frame {
  top: 67.5%;
}

.group-item {
  position: absolute;
  top: 0;
  left: 0.4%;
}

/* ... More to be converted ... */

.portfolio-positions {
  position: relative;
}

.portfolio-positions-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}

.search-2-line-icon,
.send {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.send {
  background-color: var(--color-gray-400);
  width: 20%;  /* 20px -> 1.25rem */
  height: 20%; /* 20px -> 1.25rem */
}

.search-2-line-icon {
  width: 10%;   /* 24px -> 1.5rem */
  height: 10%;  /* 24px -> 1.5rem */
}

.search-2-line-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 2.3%;
}

.frame-parent,
.table {
  width: 82.3%;  /* 1032px -> 64.5rem */
  display: flex;
}

.frame-parent {
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table {
  position: absolute;
  top: 54%;  /* 534px -> 33.375rem */
  left: 36.5%;  /* 563px -> 35.1875rem */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-poppins);
}

.group-inner {
  position: absolute;
  top: 20%;  /* 212px -> 13.25rem */
  left: 38%;  /* 570px -> 35.625rem */
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, rgba(105, 105, 105, 0.5), transparent),
    #212121;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 23.4%;  /* 368px -> 23rem */
  height: 29.7%; /* 304px -> 19rem */
  mix-blend-mode: normal;
}

/* ... More to be converted ... */
.swap,
.zkbt {
  display: inline-block;
  flex-shrink: 0;
}

.swap {
  position: relative;
  line-height: 200%;
  font-weight: 600;
  display: flex;
  width: 100%;
  height: 8%;
  flex-shrink: 0;
  right: -40%;
}

.zkbt {
  font-weight: 500;
  width: 5.125rem;  /* 82px -> 5.125rem */
}

.zkbtInputbox {
  position: relative;
  line-height: 10%;  /* 24px -> 1.5rem */
  font-weight: 500;
  top: 0%;
  display: inline-block;
  width: 60%;  /* 82px -> 5.125rem */
  flex-shrink: 0;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0%;
  cursor: text;
  outline: none;
}

.zkbt1 {
  position: relative;
  line-height: 100%;  /* 24px -> 1.5rem */
  font-size:var(--font-size-mini);
}

.iconlylightarrow-down-2 {
  position: relative;
  width: 30%;  /* 15px -> 0.9375rem */
  height: 20%;  /* 15px -> 0.9375rem */
}

.zkbt-group,
.zkbt-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.zkbt-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-coral);
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-11xs);
  margin-left: -40%; /* -93px */
  font-size: var(--font-size-mini);
  padding-left: 10%; /* 20px Adjust this value to move the text */
}

.zkbt-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  padding: var(--padding-xs) var(--padding-3xs);
  gap: 40%;  /* 117px -> 7.3125rem */
  width: 93%;
  height: 20%;
}

.btc {
  position: relative;
  line-height: 10%;  /* 24px -> 1.5rem */
  font-weight: 500;
  top: 0%;
  display: inline-block;
  width: 60%;  /* 82px -> 5.125rem */
  flex-shrink: 0;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0%;
  cursor: text;
  outline: none;
}

.swapbutton {
  position: absolute; /* 使用绝对定位 */
  bottom: 20px; /* 距离底部20像素 */
  border-radius: var(--br-xs);
  background-color: var(--color-coral);
  width: 96%; /* 280px */
  padding: 1% 4%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 2%; /* 10px */
  height:15.5%;
  font-size: 79%;
  color: white; /* 这里设置文本颜色为白色 */
}

.btc-group,
.btc-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.btc-group {
  align-items: center;
  justify-content: flex-start;
  flex: 1 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-coral);
  padding: 3% var(--padding-5xs);
  gap: var(--gap-11xs);
  margin-left: -9%;
  font-size: var(--font-size-mini);
  padding-left: 15%;
  height: 49%;
  width: 40%;
}

.btc-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  width: 100%;
  height: 35%;
  padding: 2% var(--padding-3xs);
  box-sizing: border-box;
}

/* ... More to be converted ... */

.zkbt-1 {
  position: relative;
  font-size: 100%;
  line-height: 100%; /* 18px */
  font-weight: 500;
  top: -10%;
  color: rgba(255, 255, 255, 0.7);
}
.frame-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0% 0% -1%;
  gap: 7%; /* 12px */
}
.connect-wallet {
  position: relative;
  line-height: 0.8125rem; /* 13px */
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  padding-left: 4.375rem; /* 70px adjust this value to move your text more or less */
}
.connect-wallet-wrapper {

  border-radius: var(--br-xs);
  background-color: var(--color-coral);
  width: 100%; /* 280px */
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-9xs) (0% );
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 0%; /* 10px */
  height:20%;
  font-size: 100%;
  font-family: var(--font-poppins);
  margin-top: 16px;
}
.frame-group, .swap-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-3xl);;
  justify-content: flex-start;
  gap: 4%; /* 23px */
  font-size: 100%;
}

.swap-parent {
  position: absolute;
  top: 20%; /* 212px */
  left: 63.5%; /* 953px */
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, rgba(105, 105, 105, 0.5), transparent), #212121;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 19.4%; /* 313px */
  height: 29.6%;
  gap: 9%; /* 21px */
  font-size: 70%;
}
.quick-transfer {
  position: relative;
  line-height: 200%; /* 25px */
  font-weight: 600;
  display: flex;
  width: 100%; /* 135px */
  height: 8%; /* 24px */
  flex-shrink: 0;
  right: -26%;
}
.span {
  color: var(--color-darkslategray);
}
.address-trevorbtc {
  position: relative;
  line-height: 100%; /* 24px */
  font-weight: 500;
  display: inline-block;
  width: 100%; /* 271px */
  flex-shrink: 0;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: text;
  outline: none;
}
.address-trevorbtc-wrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  width: 100%; /* 284px */
  height: 35%; /* 52px */
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.amount-69::-webkit-inner-spin-button,
.amount-69::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.amount-69 {
  position: relative;
  line-height: 10%; /* 24px */
  font-weight: 500;
  display: inline-block;
  width: 60%; /* 271px */
  flex-shrink: 0;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: text;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield; /* 添加这一行 */
  appearance: none;
}
.amount-69-parent, .zkbt-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.zkbt-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-coral);
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-11xs);
  font-size: var(--font-size-mini);
  padding-left: 10%; /* 20px Adjust this value to move the text */
}
.amount-69-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  width: 100%; /* 284px */
  height: 35%; /* 53px */
  padding: var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
}
.text {
  position: relative;
  font-size: var(--paragraph-p12-medium-size);
  line-height: 1.125rem; /* 18px */
  font-weight: 500;
  background: linear-gradient(180deg, rgba(60, 53, 74, 0.5), rgba(60, 53, 74, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame-parent1 {
  height: 53%; /* 145px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 90%;
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-3xl);
}
.iconlylight-outlinesend {
  position: relative;
  width: 70%; /* 16.25px */
  height: 70%; /* 16.25px */
}
.transfer-now1 {
  font-family: var(--paragraph-p12-medium);
}
.transfer-now {
  position: relative;
  line-height: 100%; /* 13px */
  display: inline-block;
  width: 100%; /* 248px */
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: 0%;
  padding: 0px 0px;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-indent: -20%; /* -55px Move the text 10px to the left */
}
.send-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-coral);
  width: 100%; /* 280px */
  display: flex;
  flex-direction: row;
  padding: 1% 4%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 2%; /* 10px */
  height:16%;
  font-size: 100%;
  font-family: var(--font-poppins);
}
.group-div, .quick-transfer-parent {
  position: absolute;
  width: 44%; /* 313px */
  height: 54.2%; /* 304px */
}
.quick-transfer-parent {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, rgba(105, 105, 105, 0.5), transparent), #212121;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-9xs) var(--padding-3xl);
  align-items: center;
  justify-content: space-between;
}
.group-div {
  top: 20%; /* 212px */
  left: 85%; /* 1281px */
  font-size: var(--paragraph-p18-semi-bold-size);
}
.my-order {
  position: relative;
  font-weight: 500;
  left: 3%
}
.my-order-wrapper {
  width: 100%; /* 268px */
  display: flex;
  margin-top: 10%;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-300);
}
.wallet {
  position: relative;
  font-size: 150%; /* 42px */
  top: 10%;
  left: 10%;
  font-weight: 600;
}


.news, .news-wrapper {
  width: 140%; /* 453px */
  height: 22.41125rem; /* 358.57px */
}
.news {
  position: relative;
  top: 0%;
  left: -3%;
  border-radius: 0.625rem; /* 10px */
  background: linear-gradient(122.1deg, #ff5722, #24b0ff);
  overflow: hidden;
}

.nav-bar {
  position: absolute;
  top: 10%; /* 103px */
  left: 0.4%; /* 7px */
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.125rem; /* 34px */
}
.rectangle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0;
  right: -19%;
  border-radius: var(--br-xs);
  background: linear-gradient(103.21deg, #ff5722, #6eacfe);
}
.connect-wallet1 {
  position: absolute;
  top: 29%; /* 15px */
  width: 100%;
  left: 37%; /* 55px */
  font-size: 80%;
}
.rectangle-parent {
  position: relative;
  height: 4.95%;
  width: 15%;
  top: 3.44%;
  right: 40%;
  bottom: 91.61%;
  left: 86%;
  font-size: 90%;
}
.vector-icon {
  position: relative;
  width: 100%; /* 17.5px */
  height: 100%; /* 15.75px */
  left: 0%
}
.balance, .div, .wallet-line {
  position: absolute;
  left: 40%; /* 591px */
}
.wallet-line {
  top: 22%; /* 234px */
  left: 40%;
  border-radius: 5.46875rem; /* 87.51px */
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1%; /* 17.502588272094727px */
  align-items: center;
  justify-content: center;
}
.balance, .div {
  top: 29%; /* 297px */
  font-size: 150%; /* 40px */
  font-weight: 600;
}
.div {
  top: 35%; /* 364px */
  font-size: 100%; /* 28px */
  left: 40%;
  font-family: var(--font-poppins);
}
.table-item, .table-item1, .table-item2 {
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%; /* 69px */
  height: 10.7%; /* 35px */
  display: flex;
  flex-direction: row;
  padding: .4% 0.9%; /* 7.339694499969482px 14.679388999938965px */
  align-items: center;
  justify-content: center;
}
.table-item1, .table-item2 {
  background-color: var(--color-gray-100);
  width: 100%; /* 67px */
  height: 21.8%; /* 82px */
}
.table-item2 {
  width: 100%; /* 69px */
  height:21.9%
}
.col-02 {
  position: absolute;
  top: 9.5%; /* 38px */
  left: 0%;
  border-radius: var(--br-xl);
  width: 10%; /* 66.7px */
  height: 94%; /* 360px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
}
.name {
  position: relative;
  font-weight: 600;
}
.table-item4 {
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 141%;
  height: 11%;
  display: flex;
  flex-direction: row;
  padding: 1% 2%;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.image-1-icon {
  position: relative;
  width: 10%;
  height: 50%;
  left: 0%;
  object-fit: cover;
}
.bitcoin-wrapper,
.table-item5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-item5 {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 143%;
  height: 23%;
  flex-direction: row;
  padding: 4% 8%;
  align-items: center;
  gap: 4%;
}
.image-22-icon,
.table-item-child {
  position: relative;
  width: 10%;
  height: 50%;
  object-fit: cover;
}
.image-22-icon {
  border-radius: 8.1px;
  width: 11%;
  height: 50%;
}
.col-021 {
  position: absolute;
  top: 9.55%;
  left: 10%;
  width: 34%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.balance2 {
  font-weight: 600;
}
.span1 {
  font-size: 11.74px;
  font-weight: 500;
}
.col-05,
.col-051,
.table-item9 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-item9 {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  width: 141%;
  height: 22.8%;
  flex-direction: row;
  padding: 0% 0%;
}
.col-05,
.col-051 {
  position: absolute;
  top: 60.0%;
  left: 64%;
  border: 1px solid var(--color-gray-400);
  width: 17%;
  height: 36.5%;
  flex-direction: column;
}
.col-051 {
  border-radius: var(--br-xl);
}
.col-02-parent {
  position: absolute;
  top: 60%;
  left: 38%;
  width: 40%;
  height: 40%;
}
.swap-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.sub-menu {
  position: absolute;
  top: 65%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
  color: var(--color-gray-300);
}
.bisonlogo-icon,
.rectangle-icon {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 50%;
  height: 0%;
}
.bisonlogo-icon {
  top: 30%;
  left: 3.5%;
  width: 25%;
  height: 38%;
  object-fit: scale-down;
}
.action-menu-parent {
  position: absolute;
  top: 2%; /* Adjusted from 46px */
  left: 3%; /* Adjusted from 49px */
  width: 89%; /* Adjusted from 1603px, 90% of the viewport width */
  height: 90%; /* Adjusted from 989px, 90% of the viewport height */
}
.table-item16,
.table-item17,
.table-item18 {
  left: -46%;
  border: 1px solid var(--color-black);
  width: 143%;
  display: flex;
  flex-direction: row;
  padding: 4% 4%;
  align-items: center;
  justify-content: center;
}
.table-item16 {
  position: absolute;
  top: -4.2%;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 15%;
  font-size: var(--font-size-xl);
}
.table-item17,
.table-item18 {
  background-color: var(--color-gray-100);
  height: 30%;
  border: 1px solid var(--color-black);
}
.table-item17 {
  position: absolute;
  top: 10%;
  box-sizing: border-box;
}
.table-item18 {
  top: 39.6%;
}
.col-052,
.table-item18,
.table-item19 {
  position: absolute;
  box-sizing: border-box;
}
.table-item19 {
  top: 69%;
  left: -46%;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  width: 143%;
  height: 30.2%;
  display: flex;
  flex-direction: row;
  padding: 0% 0%;
  align-items: center;
  justify-content: center;
}
.col-052 {
  top: 60.44%;
  left: 82.4%;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-400);
  width: 14%;
  height: 25.17%;
}
.home-page {
  position: absolute;
  top: 0%;
  left: 0;
  background: linear-gradient(107.86deg, #2b2b2b, #020202);
  width: 100%; /* 1728px */
  height: 100%; /* 1117px */
  overflow: hidden;
}

.home-page-wrapper,
.macbook-pro-16-3 {
  position: relative;
  width: 100%; /* 1728px */
  height: 1117px; /* 1117px */
}

.macbook-pro-16-3 {
  background-color: var(--text-100);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-100);
  font-family: var(--paragraph-p12-medium);
}

/* Small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
      padding-left: 1%; /* 5px */
      padding-right: 0.3125rem; /* 5px */
  }

  .logo, .home-page-inner, .action-menu, .active-menu, .frame, .group-child {
      left: 1%;
  }

  .ellipse-parent, .frame-container, .frame-wrapper, .home-page-inner {
      flex-direction: column;
      align-items: flex-start;
  }
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 991.98px) {
  .container {
      padding-left: 0.625rem; /* 10px */
      padding-right: 0.625rem; /* 10px */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
      padding-left: 0.9375rem; /* 15px */
      padding-right: 0.9375rem; /* 15px */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
      padding-left: 1.25rem; /* 20px */
      padding-right: 1.25rem; /* 20px */
  }
}
